/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body{
  display: flex;
  flex-direction: column;
  background-color: pink;
  font-family: "Graduate", serif;
}

header {
  text-align: center;
  font-size: 20px;
}
main {
  flex: 1 0 auto;
}

.game-area {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.btn, .choice {
  font-size: 20px;
  border-radius: 25px;
  width: 200px;
  height: 50px;
}
button:hover {
  background-color: aqua;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 3em;
    top: 15rem;
    width: 75%;
    height: 45%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.774); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    color: #aaa;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
  }
  
  /* The Close Button */
  .close {
    position: relative;
    right: 0.5em;
    top: -0.5em;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* 1 player page */
.game-box {
  border: 2px solid lightcoral;
  border-radius: 25px;
  background-color: lightcoral;
}
.display {
  padding-top: 20px;
  font-size: 20px;
}
.score {
  display: flex;
  justify-content: space-around
}

footer {
  display: flex;
  justify-content: center;
}

