/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body{
  display: flex;
  flex-direction: column;
  background-color: pink;
  font-family: "Graduate", serif;
}

header {
  text-align: center;
  font-size: 20px;
}
main {
  flex: 1 0 auto;
}

.game-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid black; */
  padding: 50px;
  justify-content: space-around;
}
.btn, .choice {
  font-size: 20px;
  border-radius: 25px;
  width: 200px;
  height: 50px;
}
button:hover {
  background-color: aqua;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* 1 player page */
.game-box {
  border: 2px solid lightcoral;
  border-radius: 25px;
  background-color: lightcoral;
}
.display {
  padding-top: 20px;
  font-size: 20px;
}

footer {
    text-align: center;
}

